@import "angular";
.news {
  &__title {
    color: $dark-purpule;
    font-family: $ff;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(90deg, #25196b 0%, #d994a7 100%);
    box-shadow: 0px 15px 25px 0px rgba(115, 78, 133, 0.15);
    color: $white;
    font-family: $ff;
    font-size: 12px;
    font-weight: 500;
    &:nth-child(even) {
      background: linear-gradient(90deg, #25196b 0%, #94d9b4 100%);
      box-shadow: 0px 15px 25px 0px rgba(90, 116, 142, 0.15);
    }
  }
}
