$ff: 'Roboto', sans-serif;


$gray: #8B97A8;
$dark-purpule: #595085;
$purpul: #3D3270;
$white: #fff;
$pink: #c93f8d;
$ligth-fiolet: #403572;
$carrot: #FF5648;
$dark-carrot: #FF3726;
$light-green: #479696;

$transition: .2 all ease-in-out;