@import "angular";

.nav {
  padding: 20px 20px 0 20px;
  @include tablet {
    margin-bottom: 50px;
  }
  &__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-start;
      gap: 50px;
    }
  }
  &__link-title {
    display: none;
    @include tablet {
        display: inline-block;
    }
  }
  &__a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: $gray;
    transition: $transition;
    &._active {
      color: $purpul;
      .material-icons {
        color: $purpul;
      }
    }
  }
}
.material-icons {
  color: $gray;
  transition: $transition;
}
