@import "angular";

.nav {
    &__ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__a {
        &._active {
        .material-icons {
            color: $purpul;
        }
        }
    }
}
.material-icons {
    color: $gray;
    transition: $transition;
}