<header class="header">
    <span class="material-icons" (click)="headerMenu=!headerMenu">menu</span>
    <div class="header__title">{{app.title}}</div>
    <span class="material-icons">settings</span>
</header>

<div class="header-menu" [class._active]="headerMenu">
    <a routerLink="/">Home</a>
    <a routerLink="/profile">Profile</a>
<button (click)="article=!article">Click</button>

<p *ngIf="article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus voluptatum, illum id magnam
    veritatis quasi. Id laborum facilis odio doloribus.</p>
</div>

