body {
font-family: $ff;
color: $gray;
padding: 30px;
}

router-outlet {
    display: none;
}
html, body {
    height: 100%;
}
app-root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}